# Configure agent
agentAvro2.sources = avroSource
agentAvro2.sinks = hdfsSink
agentAvro2.channels = memChannel

# Configure source as Avro in localhost:41414
agentAvro2.sources.avroSource.type = avro
agentAvro2.sources.avroSource.bind = localhost
agentAvro2.sources.avroSource.port = 41414

# Configure channel (using memory type)
agentAvro2.channels.memChannel.type = memory

# Configure sink as hdfs
agentAvro2.sinks.hdfsSink.type = hdfs
agentAvro2.sinks.hdfsSink.hdfs.path = hdfs://namenode:9000/ejemplo-avro
agentAvro2.sinks.hdfsSink.hdfs.fileType = DataStream
agentAvro2.sinks.hdfsSink.hdfs.writeFormat = avro

# Linking source and sink with channel
agentAvro2.sources.avroSource.channels = memChannel
agentAvro2.sinks.hdfsSink.channel = memChannel
