# Configure agent
agentAvro1.sources = spoolSource
agentAvro1.sinks = avroSink
agentAvro1.channels = memoryChannel

# Configure spooldir source
agentAvro1.sources.spoolSource.type = spooldir
agentAvro1.sources.spoolSource.spoolDir = /media/notebooks/avro/ejemplo-avro

# Configure channel (using memory type)
agentAvro1.channels.memoryChannel.type = memory

# Describe sink as Avro in localhost:41414
agentAvro1.sinks.avroSink.type = avro
agentAvro1.sinks.avroSink.hostname = localhost
agentAvro1.sinks.avroSink.port = 41414
agentAvro1.sinks.avroSink.serializer = avro_event

# Linking source and sink with channel
agentAvro1.sources.spoolSource.channels = memoryChannel
agentAvro1.sinks.avroSink.channel = memoryChannel
