
# Configure agent components
agenteArg.sources = spoolSource
agenteArg.sinks = hdfsSink
agenteArg.channels = fileChannel

# Configure the spooldir source type
agenteArg.sources.spoolSource.type = spooldir
agenteArg.sources.spoolSource.spoolDir = /media/notebooks/flume/data/convocatorias

# Configure the channel with checkpoint
agenteArg.channels.fileChannel.type = file
agenteArg.channels.fileChannel.checkpointDir = /media/notebooks/flume/checkpoint/convocatorias
agenteArg.channels.fileChannel.dataDirs = /media/notebooks/flume/channel-data/convocatorias

# Configure sink
agenteArg.sinks.hdfsSink.type = hdfs
agenteArg.sinks.hdfsSink.hdfs.path = hdfs://namenode:9000/flume-arg
agenteArg.sinks.hdfsSink.hdfs.fileType = DataStream
agenteArg.sinks.hdfsSink.hdfs.writeFormat = Text

# Configure the output files in bytes
agenteArg.sinks.hdfsSink.hdfs.rollSize = 4194
# Set the closing time of a file
agenteArg.sinks.hdfsSink.hdfs.rollInterval = 150
# Configure the number of events for closing a file
agenteArg.sinks.hdfsSink.hdfs.rollCount = 0

# Connect the input and output
agenteArg.sources.spoolSource.channels = fileChannel
agenteArg.sinks.hdfsSink.channel = fileChannel
